* {
	margin: 0;
	padding: 0;
}

body {
    background-color: white;
    font-family: "Times New Roman", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
	max-width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	height: auto;
	color: black;
}

.one {
    max-width: 500px;
    background-color: white;
    margin: 20px;
}

.two {
    max-width: 380px;
    background-color: white;
    padding: 50px;
    border: 10px solid blue;
}