* {
	margin: 0;
	padding: 0;
}

body {
    background-color: white;
	color: black;
    font-family: "Times New Roman", sans-serif;
}

.content {
	display: flex;
	flex-direction: row;
	height: auto;
	margin: 0.5%;
	border: 1px solid green;
}

.left_block {
	width: 300px;
	display: flex;
	flex-direction: column;
	min-width: 130px;
	width: 30%;
}

.list {
	background-color: #f9ccac;
	display: flex;
	align-items: center;
	height: 80px;
	flex-grow: 0;
}

.list ul {
	margin: 0 0 0 40px;
}

.void {
	background-color: aqua;
	flex-grow: 1;
}

main {
	background-color: darkgray;
	width: 70%;
}

main img {
	float: right;
	width: 50%;
}

main p:first-of-type {
	clear: none;
}

main p {
	clear: right;
}
